h2 {
    display: inline-block;
    width: 48%;
  }

  li {
      display: inline-block;
      width: 24%
  }

 article {
     clear: both;
 }

 div{
    width: 200px;
    height: 100px;
    padding-top: 99px;
    float: left;
    margin: 10px 5px 10px 0px;
    background-color: lightgrey;
    text-align: center;
}
 p{
    display: inline-block;
    width: 50%;
}
.text2{
    display: inline-block;
    width: 30%;
}
 footer{
    clear: both;
}
