h1 {
background: black; 
color:white; 
font-weight:bold; 
padding:15px
}

h2 {
  background: gray;
  color: black;
  font-weight:bold;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

div {
    width: 150px;
    height: 100px;
    background-color: gray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.left{
    float: left;
    clear: both;
}

.menu {
    clear: both;
    display: inline-block;
    justify-content: space-around;
}

.subtitle {
    border: 1px solid black;
    display: inline-block;
}

